autocommand==2.2.2
beautifulsoup4==4.11.2
certifi==2022.12.7
charset-normalizer==3.1.0
dnspython==2.3.0
feedparser==6.0.10
idna==3.4
importlib-metadata==6.0.0
importlib-resources==5.12.0
inflect==6.0.2
irc==20.1.0
jaraco.classes==3.2.3
jaraco.collections==3.8.0
jaraco.context==4.3.0
jaraco.functools==3.6.0
jaraco.itertools==6.2.1
jaraco.logging==3.1.2
jaraco.mongodb==11.2.1
jaraco.services==3.1.0
jaraco.stream==3.0.3
jaraco.text==3.11.1
jaraco.ui==2.3.0
more-itertools==9.1.0
path==16.6.0
pmxbot[slack]==1122.14.2
portend==3.1.0
pyaml-env==1.2.1
pydantic==1.10.6
pymongo[ocsp]==4.3.3
python-dateutil==2.8.2
pytimeparse==1.1.8
pytz==2022.7.1
PyYAML==6.0
requests==2.28.2
sgmllib3k==1.0.0
six==1.16.0
slack-sdk==3.20.2
soupsieve==2.4
tempora==5.2.1
typing_extensions==4.5.0
urllib3==1.26.15
wordnik-py3==2.1.2
zipp==3.15.0
