{% extends "base.html" %}
{% block body %}

<h3>#{{ channel }} logs for {{ pdate }}</h3>
<div class="navsec">
(<a href="{{ base }}/channel/{{ channel }}">Back to #{{ channel }} overview</a>)
(<a href="{{ base }}">Back to channel listing</a>)
(<a href="javascript:animate_logs()">Animate logs</a>)
</div>

<div class="logsection">
{% for tm, name, marker, msg in history %}
	<div class="logline">
	<a name="{{ marker }}"></a>
	[<a href="#{{ marker }}" class="comment-link">{{ tm }}</a>] &lt;<span style="color: #{{ color_map[name] }}">{{ name }}</span>&gt; {{ msg }}
	</div>
{% endfor %}
</div>


{% endblock %}
