{% extends "base.html" %}
{% block body %}

<h3>Commands</h3>
<table style="border: none;">
{% for command in commands %}
	<tr><td class="left" style="font-weight: bold; font-family: fixed-width; ">{{ command.name }}
	{% if command.alias_names %}
		{{ command.alias_names }}
    {% endif %}
	</td><td>{{ command.doc }}</td></tr>
{% endfor %}
</table>

<h3>Triggers</h3>
<table style="border: none;">
{% for command in contains %}
	<tr><td class="left" style="font-weight: bold; font-family: fixed-width; ">{{ command.name }}</td>
	<td>{{ command.doc }}</td></tr>
{% endfor %}
</table>


{% endblock %}
